body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
  height: 100vh;
}

h1 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363B5F;
  color: #D1D6F9;
  padding: 8px;
  grid-area: nav;
  height: fit-content;
}

#links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#links>a {
  text-decoration: none;
  color: inherit;
}

#links>a:hover {
  text-decoration: underline;
}

main {
  grid-area: main;
}

#cart-related {
  position: relative;
}

#navbar svg {
  fill: #D1D6F9;
}

#navbar button {
  background-color: inherit;
  outline: none;
  border: none;
}

#cart-button:hover {
  cursor: pointer;
}

.carousel-arrows {
  display: none;
  fill: #6870AE;
}

.carousel>img {
  height: 172px;
  object-fit: cover;
  width: 100%;
  filter: brightness(60%)
}

.button {
  background-color: #0B79FA;
  border: none;
  color: #FFFFFF;
  padding: 6px;
  border-radius: 6px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(76, 147, 228);
}

.items {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
  align-items: center;
}

.item {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid black;
  width: 224px;
  text-align: center;
}

.item>.item-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.item>img {
  width: 124px;
  height: 92px;
  object-fit: scale-down;
}

.footer {
  margin-top: auto;
  background-color: #152229;
  color: white;
  padding: 12px;
  grid-area: footer;
}

@media only screen and (min-width: 1024px) {
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .carousel>img {
    flex-grow: 0;
    margin-top: 3rem;
    width: 458px;
    height: 176px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    filter: brightness(100%)
  }

  .carousel-arrows {
    display: block;
  }
}

.mobile-none {
  display: none;
}

@media only screen and (min-width: 640px) {
  .mobile-none {
    display: inline;
  }
}

#cart {
  position: absolute;
  top: 48px;
  z-index: 9999;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  filter: brightness(100%);
  color: black;
  min-width: 120px;
  border: 1px solid;
  padding: 6px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.cart-item>span {
  white-space: nowrap;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 0.5rem;
}