body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
  height: 100vh;
}

h1 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#links>a {
  text-decoration: none;
  color: inherit;
}

#links>a:hover {
  text-decoration: underline;
}

#cart-related {
  position: relative;
}

#navbar svg {
  fill: #D1D6F9;
}

#navbar button {
  background-color: inherit;
  outline: none;
  border: none;
}

#cart-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .carousel>img {
    flex-grow: 0;
    margin-top: 3rem;
    width: 458px;
    height: 176px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    filter: brightness(100%)
  }

  .carousel-arrows {
    display: block;
  }
}